body{
    background-color: lemonchiffon;
    margin: 0 25% ;
}

main{
    margin: 35px;
    text-align: center;
    background-color: lime;
    padding: 0, -20px;
}

button{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.quiz{
    display: none;
}

.startPage{
    display: auto;
}

.endPage{
    display: none;
}